<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Armory-Bubble-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 105}</string>
			<key>spriteSourceSize</key>
			<string>{124, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{269, 144}, {124, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Bubble-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 105}</string>
			<key>spriteSourceSize</key>
			<string>{124, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 122}, {124, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Bubble-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 133}</string>
			<key>spriteSourceSize</key>
			<string>{124, 133}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{291, 9}, {124, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Buy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 12}</string>
			<key>spriteSourceSize</key>
			<string>{30, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 318}, {30, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-BuyCoins.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 12}</string>
			<key>spriteSourceSize</key>
			<string>{30, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 304}, {30, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Cancel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 12}</string>
			<key>spriteSourceSize</key>
			<string>{31, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 265}, {31, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Cave.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 116}</string>
			<key>spriteSourceSize</key>
			<string>{144, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 1}, {144, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Equip.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 12}</string>
			<key>spriteSourceSize</key>
			<string>{30, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 332}, {30, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 119}</string>
			<key>spriteSourceSize</key>
			<string>{142, 119}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{147, 1}, {142, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 11}</string>
			<key>spriteSourceSize</key>
			<string>{9, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{499, 1}, {9, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 18}</string>
			<key>spriteSourceSize</key>
			<string>{31, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 242}, {31, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-No.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 12}</string>
			<key>spriteSourceSize</key>
			<string>{31, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 262}, {31, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Ok.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 12}</string>
			<key>spriteSourceSize</key>
			<string>{31, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 276}, {31, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Plank-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{107, 18}</string>
			<key>spriteSourceSize</key>
			<string>{107, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 249}, {107, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Plank-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{107, 18}</string>
			<key>spriteSourceSize</key>
			<string>{107, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{395, 234}, {107, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Plank-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{107, 18}</string>
			<key>spriteSourceSize</key>
			<string>{107, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{395, 214}, {107, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Plank-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{107, 18}</string>
			<key>spriteSourceSize</key>
			<string>{107, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 229}, {107, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Plank-IAPv2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{107, 18}</string>
			<key>spriteSourceSize</key>
			<string>{107, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 242}, {107, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-PlankBackground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 36}, {116, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 121}</string>
			<key>spriteSourceSize</key>
			<string>{140, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 119}, {140, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Unequip.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 12}</string>
			<key>spriteSourceSize</key>
			<string>{30, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 290}, {30, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Armory-Yes.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 12}</string>
			<key>spriteSourceSize</key>
			<string>{31, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 251}, {31, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character-TheBoss-Idle-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 251}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character-TheBoss-Idle-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 269}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character-TheBoss-Idle-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 262}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character-TheBoss-Idle-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{417, 143}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character-TheBoss-Rage-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{419, 1}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character-TheBoss-Rage-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{417, 72}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character-TheBoss-Talk-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{138, 340}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character-TheBoss-Talk-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 69}</string>
			<key>spriteSourceSize</key>
			<string>{78, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 333}, {78, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-8-Armory.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 394}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Angler-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 346}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Angler-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{365, 251}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Angler-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 382}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Narwhal-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 370}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Narwhal-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 404}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Narwhal-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 317}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Piranha-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 286}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Piranha-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 358}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Piranha-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{113, 334}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Puffer-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 406}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Puffer-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 269}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Puffer-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 262}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Skelly-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{113, 310}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Skelly-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{26, 404}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coin-Skelly-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 293}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Font-Regular.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 6}</string>
			<key>spriteSourceSize</key>
			<string>{126, 6}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{291, 1}, {126, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>8armory</string>
		<key>textureFileName</key>
		<string>8armory.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>