<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Skins</key>
	<dict>
		<key>Blowfish</key>
		<array>
			<dict>
				<key>sID</key>
				<string>P001</string>
				<key>skinName</key>
				<string>03.16.14</string>
				<key>bronze</key>
				<integer>5</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>1</integer>
				<key>initialFrame</key>
				<string>Puffy-Birthday-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P002</string>
				<key>skinName</key>
				<string>Over 9000!</string>
				<key>bronze</key>
				<integer>10</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>3</integer>
				<key>initialFrame</key>
				<string>Puffy-Over9000-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P003</string>
				<key>skinName</key>
				<string>FACE CAMO</string>
				<key>bronze</key>
				<integer>10</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>3</integer>
				<key>initialFrame</key>
				<string>Puffy-FaceCamo-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P004</string>
				<key>skinName</key>
				<string>Hipster</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Puffy-Hipster-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P005</string>
				<key>skinName</key>
				<string>Snapback</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Puffy-Snapback-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P006</string>
				<key>skinName</key>
				<string>Nak Muay</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Puffy-NakMuay-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P007</string>
				<key>skinName</key>
				<string>Commando</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>10</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Puffy-Commando-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P008</string>
				<key>skinName</key>
				<string>The Chief</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>20</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Puffy-TheChief-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P009</string>
				<key>skinName</key>
				<string>Sea-Fu</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>30</integer>
				<key>initialFrame</key>
				<string>Puffy-SeaFu-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>P010</string>
				<key>skinName</key>
				<string>Armory</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>0</integer>
				<key>initialFrame</key>
				<string>Puffy-Armory-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<true/>
				<key>unlockMessage</key>
				<string>Rate our app through the review button on the score screen to unlock this outfit!</string>
			</dict>
			<dict>
				<key>sID</key>
				<string>P011</string>
				<key>skinName</key>
				<string>The Legend</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>0</integer>
				<key>initialFrame</key>
				<string>Puffy-Legend-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<true/>
				<key>unlockMessage</key>
				<string>The legend from the world above... Reach a highscore of 150 to unlock.</string>
			</dict>
		</array>
		<key>Narwhal</key>
		<array>
			<dict>
				<key>sID</key>
				<string>N001</string>
				<key>skinName</key>
				<string>Snapback</string>
				<key>bronze</key>
				<integer>5</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>1</integer>
				<key>initialFrame</key>
				<string>Wally-Snapback-</string>
				<key>removeHorn</key>
				<false/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N002</string>
				<key>skinName</key>
				<string>Love</string>
				<key>bronze</key>
				<integer>10</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>3</integer>
				<key>initialFrame</key>
				<string>Wally-Love-</string>
				<key>removeHorn</key>
				<false/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N003</string>
				<key>skinName</key>
				<string>Dunce Cap</string>
				<key>bronze</key>
				<integer>10</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>3</integer>
				<key>initialFrame</key>
				<string>Wally-Dunce-</string>
				<key>removeHorn</key>
				<true/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N004</string>
				<key>skinName</key>
				<string>Weezus</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Wally-RapIdol-</string>
				<key>removeHorn</key>
				<false/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N005</string>
				<key>skinName</key>
				<string>Scary Goalie</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Wally-ScaryGoalie-</string>
				<key>removeHorn</key>
				<true/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N006</string>
				<key>skinName</key>
				<string>Unz Unz Unz</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Wally-UnzUnzUnz-</string>
				<key>removeHorn</key>
				<false/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N007</string>
				<key>skinName</key>
				<string>Possessed</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>10</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Wally-Possessed-</string>
				<key>removeHorn</key>
				<true/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N008</string>
				<key>skinName</key>
				<string>Chivalry</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>20</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Wally-Chivalry-</string>
				<key>removeHorn</key>
				<false/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N009</string>
				<key>skinName</key>
				<string>Luchador</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>30</integer>
				<key>initialFrame</key>
				<string>Wally-Luchador-</string>
				<key>removeHorn</key>
				<false/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>N010</string>
				<key>skinName</key>
				<string>Armory</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>0</integer>
				<key>initialFrame</key>
				<string>Wally-Armory-</string>
				<key>removeHorn</key>
				<false/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<true/>
				<key>unlockMessage</key>
				<string>Rate our app through the review button on the score screen to unlock this outfit!</string>
			</dict>
			<dict>
				<key>sID</key>
				<string>N011</string>
				<key>skinName</key>
				<string>The Legend</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>0</integer>
				<key>initialFrame</key>
				<string>Wally-Legend-</string>
				<key>removeHorn</key>
				<true/>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<true/>
				<key>unlockMessage</key>
				<string>The legend from the world above... Reach a highscore of 75 to unlock.</string>
			</dict>
		</array>
		<key>Piranha</key>
		<array>
			<dict>
				<key>sID</key>
				<string>C001</string>
				<key>skinName</key>
				<string>O Canada!</string>
				<key>bronze</key>
				<integer>5</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>1</integer>
				<key>initialFrame</key>
				<string>Chompy-OCanada-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C002</string>
				<key>skinName</key>
				<string>Nerd</string>
				<key>bronze</key>
				<integer>10</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>3</integer>
				<key>initialFrame</key>
				<string>Chompy-Nerd-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C003</string>
				<key>skinName</key>
				<string>Flat Top</string>
				<key>bronze</key>
				<integer>10</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>3</integer>
				<key>initialFrame</key>
				<string>Chompy-FlatTop-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C004</string>
				<key>skinName</key>
				<string>Crazy</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Chompy-Crazy-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C005</string>
				<key>skinName</key>
				<string>Turd</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Chompy-Turd-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C006</string>
				<key>skinName</key>
				<string>Malpractice</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>10</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Chompy-Malpractice-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C007</string>
				<key>skinName</key>
				<string>Outlaw</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>10</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Chompy-Outlaw-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C008</string>
				<key>skinName</key>
				<string>RoboJetpack</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>20</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Chompy-RoboJetpack-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C009</string>
				<key>skinName</key>
				<string>Crook</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>30</integer>
				<key>initialFrame</key>
				<string>Chompy-Crook-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>C010</string>
				<key>skinName</key>
				<string>Armory</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>0</integer>
				<key>initialFrame</key>
				<string>Chompy-Armory-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<true/>
				<key>unlockMessage</key>
				<string>Rate our app through the review button on the score screen to unlock this outfit!</string>
			</dict>
			<dict>
				<key>sID</key>
				<string>C011</string>
				<key>skinName</key>
				<string>The Legend</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>0</integer>
				<key>initialFrame</key>
				<string>Chompy-Legend-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<true/>
				<key>unlockMessage</key>
				<string>The legend from the world above... Reach a highscore of 75 to unlock.</string>
			</dict>
		</array>
		<key>Zombie</key>
		<array>
			<dict>
				<key>sID</key>
				<string>S001</string>
				<key>skinName</key>
				<string>Disguise</string>
				<key>bronze</key>
				<integer>10</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>3</integer>
				<key>initialFrame</key>
				<string>Skelly-Disguise-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>S002</string>
				<key>skinName</key>
				<string>Flame On</string>
				<key>bronze</key>
				<integer>10</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>3</integer>
				<key>initialFrame</key>
				<string>Skelly-FlameOn-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>S003</string>
				<key>skinName</key>
				<string>ZZZ</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Skelly-ZZZ-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>S004</string>
				<key>skinName</key>
				<string>Soldier</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>20</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>5</integer>
				<key>initialFrame</key>
				<string>Skelly-Soldier-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>S005</string>
				<key>skinName</key>
				<string>Et Tu Brute?</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>10</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Skelly-EtTuBrute-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>S006</string>
				<key>skinName</key>
				<string>Death Awaits</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>20</integer>
				<key>8coin</key>
				<integer>10</integer>
				<key>initialFrame</key>
				<string>Skelly-Death-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
			<dict>
				<key>sID</key>
				<string>S007</string>
				<key>skinName</key>
				<string>Armory</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>0</integer>
				<key>initialFrame</key>
				<string>Skelly-Armory-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<true/>
				<key>unlockMessage</key>
				<string>Rate our app through the review button on the score screen to unlock this outfit!</string>
			</dict>
			<dict>
				<key>sID</key>
				<string>S008</string>
				<key>skinName</key>
				<string>The Legend</string>
				<key>bronze</key>
				<integer>0</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>0</integer>
				<key>initialFrame</key>
				<string>Skelly-Legend-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<true/>
				<key>unlockMessage</key>
				<string>The legend from the world above... Reach a highscore of 150 to unlock.</string>
			</dict>
		</array>
		<key>Angler</key>
		<array>
			<dict>
				<key>sID</key>
				<string>001</string>
				<key>skinName</key>
				<string>Eyepatch</string>
				<key>bronze</key>
				<integer>1</integer>
				<key>silver</key>
				<integer>0</integer>
				<key>gold</key>
				<integer>0</integer>
				<key>8coin</key>
				<integer>1</integer>
				<key>initialFrame</key>
				<string>Puffer-Eyepatch-</string>
				<key>skillType</key>
				<integer>0</integer>
				<key>glowType</key>
				<integer>0</integer>
				<key>unlockOnly</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
